## Import library

In [44]:
import pandas as pd
import numpy as np
import os

In [45]:
path = "C:/Users/hardi/Documents/Instacart_Baskey_analysis"

In [46]:
df_merge = pd.read_pickle(os.path.join(path,'Data','prepare_data', 'odrer_product_update_combine_data.pkl'))

In [47]:
df_merge.shape

(32406041, 17)

In [50]:
df_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,regularbusy day,regular day,most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,regularbusy day,regular day,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day,Busiest day,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,regularbusy day,slowest day,most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Slowest Day,slowest day,Average orders

In [49]:
df_merge.isnull().sum()

product_id                0
product_name              0
aisle_id                  0
department_id             0
prices                    0
order_id                  0
user_id                   0
order_number              0
orders_day_of_the_week    0
order_hour_of_day         0
days_since_last_order     0
add_to_cart_order         0
reordered                 0
_merge                    0
busiest_day               0
busiest_days              0
busiest_period_of_day     0
dtype: int64

In [83]:
df_merge.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
32406036    False
32406037    False
32406038    False
32406039    False
32406040    False
Length: 32406041, dtype: bool

In [61]:
df = df_merge[:1000000]

In [62]:
df.shape

(1000000, 17)

In [63]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,regularbusy day,regular day,most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,regularbusy day,regular day,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day,Busiest day,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,regularbusy day,slowest day,most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Slowest Day,slowest day,Average orders

In [64]:
df.groupby('product_name')

In [65]:
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.467644
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.802028
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [66]:
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.467644
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.802028
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [67]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.467644   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.802028   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

## step 3

In [51]:
df_merge['max_number_order'] = df_merge.groupby('user_id')['order_number'].transform(np.max)

C:\Users\hardi\AppData\Local\Temp\ipykernel_15128\1175168368.py:1: FutureWarning: The provided callable <function max at 0x0000023CCC79E020> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_merge['max_number_order'] = df_merge.groupby('user_id')['order_number'].transform(np.max)

In [52]:
df_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day,max_number_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,regularbusy day,regular day,most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,regularbusy day,regular day,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day,Busiest day,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,regularbusy day,slowest day,most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Slowest Day,slowest day,Average orders,3

In [8]:
df_merge['max_number_order'].value_counts()

max_number_order
99    1171363
8      811893
6      811423
9      810243
7      804002
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [53]:
df_merge.loc[df_merge['max_number_order'] > 40, 'loyalty_flag'] = 'loyal_customer'
df_merge.loc[(df_merge['max_number_order'] <= 40) & (df_merge['max_number_order'] > 10), 'loyalty_flag'] = 'regular_customer'
df_merge.loc[df_merge['max_number_order'] <= 10, 'loyalty_flag'] = 'new_customer'

In [54]:
df_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
regular_customer    15877395
loyal_customer      10284396
new_customer         6244250
Name: count, dtype: int64

## step 5

In [55]:
df_merge.groupby(['loyalty_flag']).agg({'prices':['min','max','mean']})

                 prices
                    min      max       mean
loyalty_flag
loyal_customer      1.0  99999.0  10.386229
new_customer        1.0  99999.0  13.294406
regular_customer    1.0  99999.0  12.495501

## new customers spend on average 3 dollars from loyal_customer and $1 more from regular customer

## step 6

In [59]:
df = df_merge.groupby(['user_id'])['prices'].mean().reset_index()

In [60]:
df.head()

   user_id    prices
0        1  6.367797
1        2  7.515897
2        3  8.197727
3        4  8.205556
4        5  9.189189

In [64]:
df['mean'] = np.where(df['prices'] >= 10 , 'high_spender', 'low_spender')

   user_id    prices         mean
0        1  6.367797  low_spender
1        2  7.515897  low_spender
2        3  8.197727  low_spender
3        4  8.205556  low_spender
4        5  9.189189  low_spender

In [66]:
df1 = df_merge.merge(df[['user_id', 'mean']], on='user_id', how='left')

In [67]:
df1['mean'].value_counts()

mean
low_spender     31771789
high_spender      634252
Name: count, dtype: int64

In [68]:
df1.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day,max_number_order,loyalty_flag,mean_price_spent_customer,mean
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,regularbusy day,regular day,most orders,32,regular_customer,6.935811,low_spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,regularbusy day,regular day,Average orders,32,regular_customer,6.935811,low_spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Busiest day,Busiest day,Average orders,5,new_customer,7.930208,low_spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,regularbusy day,slowest day,most orders,3,new_customer,4.972414,low_spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Slowest Day,slowest day,Average orders,3,new_customer,4.972414,low_spender

In [69]:
df_merge['mean_price_spent_customer'] = df_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\hardi\AppData\Local\Temp\ipykernel_15128\4199600379.py:1: FutureWarning: The provided callable <function mean at 0x0000023CCC79EA20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_merge['mean_price_spent_customer'] = df_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [70]:
df_merge[['user_id','mean_price_spent_customer']].head(20)

    user_id  mean_price_spent_customer
0       138                   6.935811
1       138                   6.935811
2       709                   7.930208
3       764                   4.972414
4       764                   4.972414
5       777                   6.935398
6       825                   5.957576
7       910                   6.680000
8      1052                   7.162500
9      1052                   7.162500
10     1379                   5.813636
11     1480                   5.081633
12     1480                   5.081633
13     1480                   5.081633
14     1494                   6.803797
15     1494                   6.803797
16     1494                   6.803797
17     1540                   6.607122
18     1540                   6.607122
19     1540                   6.607122

In [71]:
df_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day,max_number_order,loyalty_flag,mean_price_spent_customer
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,regularbusy day,regular day,most orders,32,regular_customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,regularbusy day,regular day,Average orders,32,regular_customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day,Busiest day,Average orders,5,new_customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,regularbusy day,slowest day,most orders,3,new_customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Slowest Day,slowest day,Average orders,3,new_customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,regularbusy day,Busiest day,Average orders,26,regular_customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,regularbusy day,regular day,most orders,9,new_customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,regularbusy day,slowest day,most orders,12,regular_customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,regularbusy day,Busiest day,Average orders,20,regular_customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,regularbusy day,Busiest day,most orders,20,regular_customer,7.162500

In [72]:
df_merge.loc[df_merge['mean_price_spent_customer'] >= 10, "spending_flag"] = 'High spender'

In [73]:
df_merge.loc[df_merge['mean_price_spent_customer'] < 10, "spending_flag"] = 'Lower spender'

In [74]:
df_merge['spending_flag'].value_counts()

spending_flag
Lower spender    31771789
High spender       634252
Name: count, dtype: int64

In [75]:
df_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day,max_number_order,loyalty_flag,mean_price_spent_customer,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,regularbusy day,regular day,most orders,32,regular_customer,6.935811,Lower spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,regularbusy day,regular day,Average orders,32,regular_customer,6.935811,Lower spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Busiest day,Busiest day,Average orders,5,new_customer,7.930208,Lower spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,regularbusy day,slowest day,most orders,3,new_customer,4.972414,Lower spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Slowest Day,slowest day,Average orders,3,new_customer,4.972414,Lower spender
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,both,regularbusy day,Busiest day,Average orders,26,regular_customer,6.935398,Lower spender
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,2,0,both,regularbusy day,regular day,most orders,9,new_customer,5.957576,Lower spender
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,1,0,both,regularbusy day,slowest day,most orders,12,regular_customer,6.680000,Lower spender
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,1,0,both,regularbusy day,Busiest day,Average orders,20,regular_customer,7.162500,Lower spender
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,2,1,both,regularbusy day,Busiest day,most orders,20,regular_customer,7.162500,Lower spender
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,1,0,both,regularbusy day,regular day,most orders,10,new_customer,5.813636,Lower spender
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,1,0,both,regularbusy day,slowest day,most orders,43,loyal_customer,5.081633,Lower spender
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,3,1,both,Slowest Day,slowest day,most orders,43,loyal_customer,5.081633,Lower spender
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,4,1,both,regularbusy day,regular day,most orders,43,loyal_customer,5.081633,Lower spender
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,8,0,both,regularbusy day,slowest day,most orders,13,regular_customer,6.803797,Lower spender
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,18,1,both,regularbusy day,regular day,Average orders,13,regular_customer,6.803797,Lower spender
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,12,1,both,regularbusy day,regular day,Average orders,13,regular_customer,6.803797,Lower spender
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,10,0,both,regularbusy day,regular day,Average orders,28,regular_customer,6.607122,Lower spender
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,9,1,both,regularbusy day,Busiest day,Average orders,28,regular_customer,6.607122,Lower spender
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,9,1,both,regularbusy day,Busiest day,Average orders,28,regular_customer,6.607122,Lower spender

In [92]:
df_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_the_week',
       'order_hour_of_day', 'days_since_last_order', 'add_to_cart_order',
       'reordered', '_merge', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_number_order', 'loyalty_flag',
       'mean_price_spent_customer', 'spending_flag'],
      dtype='object')

In [76]:
df_merge['customer_frequency'] =  df_merge.groupby('user_id')['days_since_last_order'].transform('median')

In [77]:
df_merge[['user_id','customer_frequency']].head(10)

   user_id  customer_frequency
0      138                 8.0
1      138                 8.0
2      709                 6.0
3      764                 9.0
4      764                 9.0
5      777                11.0
6      825                19.0
7      910                 3.5
8     1052                 9.5
9     1052                 9.5

In [78]:
df_merge.loc[df_merge['customer_frequency'] > 20 ,'frequency_flag'] = 'Non-frequent customer'

In [79]:
df_merge.loc[(df_merge['customer_frequency'] > 10) & (df_merge['customer_frequency'] <= 20) ,'frequency_flag'] = 'Regular customer'

In [80]:
df_merge.loc[df_merge['customer_frequency'] <= 10 ,'frequency_flag'] = 'Frequent customer'

In [81]:
df_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        22796938
Regular customer          6922269
Non-frequent customer     2686834
Name: count, dtype: int64

In [82]:
df_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(10)

   user_id  customer_frequency     frequency_flag
0      138                 8.0  Frequent customer
1      138                 8.0  Frequent customer
2      709                 6.0  Frequent customer
3      764                 9.0  Frequent customer
4      764                 9.0  Frequent customer
5      777                11.0   Regular customer
6      825                19.0   Regular customer
7      910                 3.5  Frequent customer
8     1052                 9.5  Frequent customer
9     1052                 9.5  Frequent customer

In [83]:
df_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,...,_merge,busiest_day,busiest_days,busiest_period_of_day,max_number_order,loyalty_flag,mean_price_spent_customer,spending_flag,customer_frequency,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,regularbusy day,regular day,most orders,32,regular_customer,6.935811,Lower spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,regularbusy day,regular day,Average orders,32,regular_customer,6.935811,Lower spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Busiest day,Busiest day,Average orders,5,new_customer,7.930208,Lower spender,6.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,regularbusy day,slowest day,most orders,3,new_customer,4.972414,Lower spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Slowest Day,slowest day,Average orders,3,new_customer,4.972414,Lower spender,9.0,Frequent customer

In [84]:
df_merge.shape

(32406041, 23)

In [85]:
df_merge.isnull().sum()

product_id                   0
product_name                 0
aisle_id                     0
department_id                0
prices                       0
order_id                     0
user_id                      0
order_number                 0
orders_day_of_the_week       0
order_hour_of_day            0
days_since_last_order        0
add_to_cart_order            0
reordered                    0
_merge                       0
busiest_day                  0
busiest_days                 0
busiest_period_of_day        0
max_number_order             0
loyalty_flag                 0
mean_price_spent_customer    0
spending_flag                0
customer_frequency           0
frequency_flag               0
dtype: int64

In [86]:
df_unique_merge = df_merge.drop_duplicates(keep='last')

In [87]:
df_unique_merge.shape

(32404859, 23)

In [88]:
df_unique_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        22796187
Regular customer          6921944
Non-frequent customer     2686728
Name: count, dtype: int64

In [89]:
df_unique_merge.to_pickle(os.path.join(path,"Data", "prepare_data","odrer_product_add_columns_combine_data_4.8.pkl"))